.inputContainer {
    width: 100%;
    height: auto;

    border-radius: 8px;
    position: relative;
    label {
        font-family: var(--font-family-Regular);
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 1.4%;
        color: rgba(107, 107, 107, 1);
    }
    input {
        width: 100%;
        border: 2px solid rgba(208, 208, 208, 1);
        height: 100%;
        background: transparent;
        border-radius: 8px;
        font-family: var(--font-family-Light) !important;
        padding: 0 8px;
        font-weight: 300;
        font-style: Light;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 1.6%;
        outline: none;
        margin-top: 8px;

        &:hover {
            transition: 0.3s ease;
            border: 2px solid rgba(107, 107, 107, 1);
        }
    }
    textarea {
        width: 100%;
        border: 2px solid rgba(208, 208, 208, 1);
        height: 100%;
        background: transparent;
        border-radius: 8px;
        font-family: var(--font-family-Light);
        padding: 0 8px;
        font-weight: 300;
        font-style: Light;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 1.6%;
        outline: none;
        margin-top: 8px;

        &:hover {
            transition: 0.3s ease;
            border: 2px solid rgba(107, 107, 107, 1);
        }
    }

    i {
        position: absolute;
        font-size: 20px;
        right: 2px;
        top: 70%;
        transform: translate(-50%, -50%);
    }
}
