.containerWrapper {
    width: 100%;
    background: var(--neutral-white);
    padding: 32px 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        max-width: 1542px;
        width: 100%;
        .supportTitle {
            font-family: var(--font-family-Light);
            font-weight: 300;
            font-style: Light;
            font-size: 28px;
            line-height: 120%;
            letter-spacing: 1.4%;
            vertical-align: middle;
            color: var(--primary-dark-navy);
        }
    }
}

@media screen and (min-width: 768px) {
    .containerWrapper {
        width: 100%;
        background: var(--neutral-white);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 24px;
        .container {
            max-width: 1542px;
            width: 100%;
            .supportTitle {
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 36px;
                line-height: 120%;
                letter-spacing: 1.4%;
                vertical-align: middle;
                color: var(--primary-dark-navy);
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .containerWrapper {
        width: 100%;
        background: var(--neutral-white);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 24px;
        .container {
            max-width: 1542px;
            width: 100%;
            .supportTitle {
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 56px;
                line-height: 120%;
                letter-spacing: 1.4%;
                vertical-align: middle;
                color: var(--primary-dark-navy);
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .containerWrapper {
        width: 100%;
        background: var(--neutral-white);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 72px 32px;
        .container {
            max-width: 1542px;
            width: 100%;
            .supportTitle {
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 56px;
                line-height: 120%;
                letter-spacing: 1.4%;
                vertical-align: middle;
                color: var(--primary-dark-navy);
            }
        }
    }
}
@media screen and (min-width: 1920px) {
    .containerWrapper {
        width: 100%;
        background: var(--neutral-white);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container {
            max-width: 1542px;
            width: 100%;
            .supportTitle {
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 56px;
                line-height: 120%;
                letter-spacing: 1.4%;
                vertical-align: middle;
                color: var(--primary-dark-navy);
            }
        }
    }
}

@media screen and (min-width: 1921px) {
    .containerWrapper {
        width: 100%;
        background: var(--neutral-white);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .container {
            max-width: 1542px;
            width: 100%;
            .supportTitle {
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 56px;
                line-height: 120%;
                letter-spacing: 1.4%;
                vertical-align: middle;
                color: var(--primary-dark-navy);
            }
        }
    }
}
