@media screen and (min-width: 375px) {
    .bannerPicture {
        display: none !important;
    }

    .weaponBg {
        width: 100%;
        background-image: url("/public/assets/weaponMob_375.svg") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover !important;
        border-radius: 8px;
    }
}
@media screen and (min-width: 768px) {
    .bannerPicture {
        display: none !important;
    }

    .weaponBg {
        width: 100%;
        height: 320px !important;
        background-image: url("/public/assets/weaponBanner_768.svg") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover !important;
        border-radius: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .bannerPicture {
        display: none !important;
    }

    .weaponBg {
        width: 100%;
        max-height: 320px !important;
        background-image: url("/public/assets/weaponBanner_1024.svg") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover !important;
        border-radius: 8px;
        .bannerSubtitle {
            max-width: 100% !important;
            margin-top: 24px !important;
        }
    }
}
@media screen and (min-width: 1440px) {
    .bannerPicture {
        display: none !important;
    }

    .weaponBg {
        width: 100%;
        max-height: 420px !important;
        background-image: url("/public/assets/weaponBanner_1024.svg") !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover !important;
        border-radius: 8px;
        .bannerContainer {
            .bannerContent {
                h1 {
                    font-size: 56px !important;
                }
                .bannerSubtitle {
                    max-width: 789px !important;
                    margin-top: 24px !important;
                }
            }
        }
    }
}
