.categoriesModal {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 0;
    background-color: rgba(28, 47, 67, 0.3);
    transition: 0.3s ease;
    &.active {
        transition: 0.3s ease;
        opacity: 1;
        z-index: 998;
        width: 100%;
        height: 100vh;
        visibility: visible;
    }
    .categoriesModalContent {
        margin-top: 80px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        padding: 32px 181px !important;
        background: #fff;
        transition: 0.3s ease;
        position: relative;
        .categories {
            width: 100% !important;
            height: auto;
            display: flex;
            flex-wrap: wrap !important;
            gap: 32px;
            li {
                width: 320px;
                list-style: none;
                .productCardHeader {
                    width: 100%;
                    height: 172px;
                    position: relative;
                    img {
                        object-fit: cover;
                        width: 320px;
                        height: 172px;
                        border-radius: 8px;
                    }
                }
                .cardContent {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 76px;
                    border-bottom: 2px solid var(--);
                    button {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 24px;
                        background: transparent;
                        border: none;
                        border-bottom: 2px solid
                            var(--neutral-medium-gray-second);
                        font-family: var(--font-family-Light);
                        font-weight: 300;
                        font-style: Light;
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                        color: var(--primary-dark-navy);
                        &:hover {
                            cursor: pointer;
                            border-color: var(--secondary-light-blue);
                        }
                        i {
                            font-size: 28px;
                        }
                    }
                }
            }
        }
        &.active {
            transition: 0.3s ease;
            height: 100vh;
            opacity: 1;
            visibility: visible;
        }
    }
}

@media screen and (min-width: 1920px) {
    .categoriesModal {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(28, 47, 67, 0.3);
        transition: 0.3s ease;
        .categoriesModalContent {
            margin-top: 80px;
            width: 100%;
            height: 0px;
            padding: 32px;
            background: #fff;
            transition: 0.3s ease;
            .categories {
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                gap: 32px;
                li {
                    width: 360px !important;
                    list-style: none;
                    .productCardHeader {
                        width: 100%;
                        height: 172px;
                        position: relative;
                        img {
                            object-fit: cover;
                            width: 360px;
                            height: 172px;
                            border-radius: 8px;
                        }
                        .leftSideUpBox {
                            width: 60px;
                            height: 30px;
                            border-radius: 2px 2px 2px 0px;
                            background: rgba(255, 215, 25, 1);
                            position: absolute;
                            top: 16px;
                            left: 16px;
                            span {
                                position: absolute;
                                top: 100%;
                                width: 30px;
                                height: 30px;
                                background: rgba(255, 215, 25, 1);
                                border-radius: 0px 0px 2px 2px;
                            }
                        }
                    }
                    &:nth-child(even) {
                        .productCardHeader {
                            .leftSideUpBox {
                                background: white;

                                span {
                                    background: white;
                                }
                            }
                        }
                    }
                    .cardContent {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 76px;
                        border-bottom: 2px solid var(--);
                        button {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 24px;
                            background: transparent;
                            border: none;
                            border-bottom: 2px solid
                                var(--neutral-medium-gray-second);
                            font-family: var(--font-family-Light);
                            font-weight: 300;
                            font-style: Light;
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: 1.6%;
                            vertical-align: middle;
                            color: var(--primary-dark-navy);
                            &:hover {
                                cursor: pointer;
                                border-color: var(--secondary-light-blue);
                            }
                            i {
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
            &.active {
                height: fit-content;
                transition: 0.3s ease-in-out;
            }
        }
        &.active {
            transition: 0.3s ease;
            opacity: 1;
            z-index: 998;
            height: 100vh;
            visibility: visible;
        }
    }
}
