.previewModal__container {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(28, 47, 67, 0.3);
    transition: 0.3s ease;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        opacity: 1;
        height: 100%;
        visibility: visible;
    }

    .previewModal__Body {
        background: #fff;
        border-radius: 16px;
        opacity: 0;
        visibility: hidden;
        position: relative;

        margin: 0 auto;
        padding: 16px 52px;
        box-shadow: inset 46px 0 80px -60px rgba(0, 0, 0, 0.4),
            inset -46px 0 80px -60px rgba(0, 0, 0, 0.4);

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .body__container {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        img,
        video {
            width: 100%;
            max-height: 100%;
            height: auto;
            width: auto;
            object-fit: contain;
            display: block;
        }

        .ph-x {
            position: absolute;
            top: 16px;
            right: 16px;
            font-size: 32px;
            color: #6b6b6b;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    .previewModal__Body {
        width: 691px;
        padding: 24px;
        .ph-x {
            top: 24px;
            right: 24px;
            font-size: 40px;
        }
    }
}
@media screen and (min-width: 1024px) {
    .previewModal__Body {
        width: 960px;
        height: 720px;
        padding: 32px;
        .ph-x {
            top: 32px;
            right: 32px;
            font-size: 48px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .previewModal__Body {
        width: 960px;
        padding: 32px;
        .ph-x {
            top: 32px;
            right: 32px;
            font-size: 48px;
        }
    }
}
@media screen and (min-width: 1920px) {
    .previewModal__Body {
        padding: 32px;
        width: 1080px;
        height: 810px;
        .body__container {
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        .ph-x {
            top: 32px;
            right: 32px;
            font-size: 48px;
        }
    }
}
