@import "header.css";
@import "header.css";
@import "primaryBtn.css";
@import "secondaryBtn.css";
@import "socialLinks.css";
@import "footer.css";
@import "about.css";
@import "banner.css";
@import "numbers.css";
@import "partners.css";
@import "ourProducts.css";
@import 'details.css';
@import 'response.css';
@import 'media.css';
@import 'howWork.css';
@import 'checkoutForm.css';
@import 'checkout.css';
@import 'input/input.css';
@import 'gratitude.css';
@import "contactModal/contactModal.css";
@import 'filter/filter.css';
@import'products.css';

:root {
    --primary-deep-blue: #0f5ebb;
    --primary-golden-yellow: #ffd719;
    --primary-dark-navy: #1c2f43;
    --secondary-light-blue: #5a9bef;
    --secondary-warm-yellow: #ffe46e;
    --neutral-white: #ffffff;
    --neutral-light-gray: #f6f7f9;
    --neutral-medium-gray: rgba(107, 107, 107, 1);
    --neutral-medium-gray-second: rgba(208, 208, 208, 1);
    --neutral-dark-gray: #6b6b6b;
    --systems-error: #d32f2f;
    --systems-success: #388e3c;
    --systems-warning: #fbc02d;
    --font-family-Bold: "e-Ukraine-Bold";
    --font-family-Light: "e-Ukraine-Light";
    --font-family-Medium: "e-Ukraine-Medium";
    --font-family-Regular: "e-Ukraine-Regular";
    --font-family-Thin: "e-Ukraine-Thin";
    --font-family-UltraLight: "e-UkraineHead-UltraLight";
    --font-family-RegularHead: "e-UkraineHead-Regular";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@font-face {
    font-family: "e-Ukraine-Bold";
    src: url("/fonts/e-Ukraine-Bold.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-Light";
    src: url("/fonts/e-Ukraine-Light.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-Medium";
    src: url("/fonts/e-Ukraine-Medium.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-Regular";
    src: url("/fonts/e-Ukraine-Regular.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-Thin";
    src: url("/fonts/e-Ukraine-Thin.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-UltraLight";
    src: url("/fonts/e-Ukraine-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: "e-UkraineHead-Regular";
    src: url("/fonts/e-UkraineHead-Regular.woff2") format("woff2");
}

main {
    padding: 80px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--neutral-light-gray);
}



footer {
    width: 100%;
    padding: 0 8px 8px;
    background-color: var(--neutral-light-gray);
}

@media (max-width: 1024px) {
    main {
        padding-top: 56px;
    }
}