.footerContainer {
    width: 100%;
    background: var(--primary-dark-navy);
    border-radius: 8px;


}

.footerContent {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 56px;
    padding: 72px 181px 0px;
}

.footerSlogan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 251px;
}

.footerSlogan h2 {
    width: 458px;
    font-family: var(--font-family-Thin);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 1.6%;
    vertical-align: middle;
    color: var(--neutral-white);
}

.footerContent ul[class="linksDesktop"] {
    width: 438px;
    height: 246px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    padding: 0;
    column-gap: 32px;
    row-gap: 24px;
}

.footerContent .linksWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.linksDesktop li {
    width: 203px;
    height: 17px;
    list-style: none;
}

.linksDesktop li a {
    font-family: var(--font-family-Thin);
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1.6%;
    vertical-align: middle;
    text-decoration: none;
    color: var(--neutral-white);
}


.footerContent .socialLinksBox {
    display: flex;
    flex-direction: column;
}

.links {
    height: 246px;
    margin-top: 24px;
    display: none;
    width: 438px;
    text-align: left;
    padding: 0;
}

.links li {
    width: 100%;
    display: flex;
    height: 17px;
    font-family: var(--font-family-Thin);
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1.6%;
    vertical-align: middle;
    list-style: none;
    color: var(--neutral-white);
}

.links li a {
    width: 100%;
    color: var(--neutral-white);
    text-decoration: none;
}

.footerContainer hr {
    padding: 0 24px;
    border: none;
    height: 1px;
    background-color: var(--neutral-dark-gray);
}

.rights {
    font-family: var(--font-family-Thin);
    color: rgba(208, 208, 208, 1);
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}

.footerContainer button {
    margin-top: 24px;
    width: 240px;
    height: 48px;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    color: var(--neutral-light-gray);
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 20px;
    border-width: 1px;
    background-color: transparent;
    border-color: var(--neutral-light-gray);
    font-family: var(--font-family-Thin);
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 1.6%;
    vertical-align: middle;
}

.footerContainer button i {
    font-size: 24px;
}

.footerBottom {
    width: 100%;
    padding: 0 24px;
}

.footerBottom p {
    padding: 32px 0px;
}

/* Media Queries */


/* 
@media (min-width: 1442px) {
    .footerContainer {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .footerContent {
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        padding: 72px 181px 0px;
    }

    .footerSlogan {
        margin-right: 251px;
    }

    .footerContainer p {
        padding: 32px 0px;
        text-align: center;
        font-family: var(--font-family-Thin);
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0%;
        color: rgba(208, 208, 208, 1);
    }

    .links {
        width: 438px !important;
        margin-right: 155px;
    }
} */

/*
@media (max-width: 1024px) {
    .footerContainer {
        padding-bottom: 0px;
    }

    .footerContent .links {
        display: none;
    }

    .footerContainer .links {
        display: flex;
    }
}

@media (max-width: 375px) {
    .footerContainer {
        padding: 48px 24px;
        margin-top: 0px !important;
    }

    .footerContent {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footerContent .socialLinks {
        margin-top: 32px;
    }

    .footerContent .socialLinks button {
        width: 100%;
        justify-content: start;
        gap: 16px;
        height: 48px !important;
        border: 2px solid var(--neutral-white);
    }

    .footerContent .footerSlogan {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .footerContent .footerSlogan h2 {
        width: auto;
        font-family: var(--font-family-Thin);
        font-weight: 300;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 1.6%;
        vertical-align: middle;
        color: var(--neutral-white);
    }

    .footerContent .links {
        display: none !important;
        flex-direction: column !important;
        gap: 20px;
        flex-wrap: nowrap;
        padding: 0;
    }

    .footerContent .links li,
    .footerContainer .links li {
        width: auto !important;
    }

    .footerContainer .links {
        height: auto;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        width: 100% !important;
        text-align: left;
        margin-bottom: 32px;
        padding: 0;
    }

    .footerContainer hr {
        width: 100%;
        border: none;
        margin-bottom: 32px;
        height: 1px;
        background-color: var(--neutral-dark-gray);
    }

    .footerContainer button {
        margin-top: 24px;
        width: 240px;
        height: 48px;
        border-radius: 10000px;
        display: flex;
        align-items: center;
        color: var(--neutral-light-gray);
        justify-content: space-between;
        padding-right: 16px;
        padding-left: 20px;
        border-width: 1px;
        background-color: transparent;
        border-color: var(--neutral-light-gray);
        font-family: var(--font-family-Thin);
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 1.6%;
        vertical-align: middle;
    }

    .footerContainer p {
        padding: 0 !important;
    }
} */