.mediaContainer {
    width: 100%;
    height: auto;
    background: var(--neutral-white);
    border-radius: 8px;
    padding: 132px 181px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mediaContainer h1 {
    font-weight: 600;
    font-style: Light;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 1.25%;
    vertical-align: middle;
    color: rgba(28, 47, 67, 1);
    font-family: var(--font-family-Thin) !important;
}

.mediaContainer hr {

    border: none;
    height: 1px;
    background-color: var(--neutral-dark-gray);
}

.mediaContainer .mediaVideo {
    width: 100%;
    display: flex;
}

.mediaContainer .mediaVideo .videoPrev {
    width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.mediaContainer .mediaVideo .videoPrev:hover img {
    transition: .3s ease;
    transform: scale(1.2);
    filter: blur(2px);
}

.mediaVideo:has(.videoPrev:hover) .videoInfo .videoTitle,
.mediaVideo:has(.videoPrev:hover) .videoInfo .videoDate i,
.mediaVideo:has(.videoPrev:hover) .videoInfo .videoDate p {
    color: var(--secondary-light-blue);
}



.mediaContainer .mediaVideo .videoPrev img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: .3s ease;
}

.mediaContainer .mediaVideo .videoPrev button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    border-radius: 999px;
    background-color: var(--primary-deep-blue);
    color: var(--neutral-white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: .3s ease-in;
}

.mediaContainer .mediaVideo .videoPrev button:hover {
    transition: .3s ease-in;
    background-color: var(--secondary-light-blue);
}

.videoInfo {
    width: 50%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border: 2px solid rgba(208, 208, 208, 1);
}

.videoInfo h4 {
    font-family: var(--font-family-Thin);
    font-weight: 600;
    font-style: Light;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 1.35%;
    vertical-align: middle;
    color: var(--primary-dark-navy);

}

.videoInfo .videoDate {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.videoInfo .videoDate p {
    display: flex;
    align-items: end;
    font-family: var(--font-family-Thin);
    font-weight: 500;
    font-style: Light;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1.6%;
    color: rgba(107, 107, 107, 1);

}

.videoInfo .videoDate i {
    font-size: 72px;
    color: rgba(28, 47, 67, 1);
}