.numbersContainer {
    width: 100%;
    background: var(--neutral-white);
    border-radius: 16px;
    padding: 132px 181px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}



.numbersContainer .numbersTitle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    align-items: center;
}

.numbersContainer p {
    font-family: var(--font-family-Light);
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1.6%;
    vertical-align: middle;
    color: var(--neutral-medium-gray);

}

.numbersTitle p {
    font-family: var(--font-family-Light);
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.6%;
    text-align: justify;
    vertical-align: middle;
    color: var(--neutral-dark-gray);
}


.numbersContainer h1 {
    height: 86px;
    font-family: var(--font-family-RegularHead);
    font-weight: 300;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 1.25%;
    color: var(--primary-dark-navy);
}


.numbersContainer hr {
    border: none;
    height: 1px;
    background-color: var(--neutral-dark-gray);
}

.numbersContainer .statisticBoxUp {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.numbersContainer .boxUp {
    width: 100%;
    height: 400px;
    padding: 24px;
    position: relative;
    border-radius: 8px;
    background-color: var(--neutral-light-gray);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.4);

    mix-blend-mode: multiply;

}

.numbersContainer .boxUp .yellowBox {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 215, 25, 1);
}

.numbersContainer .boxUp .blueBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: var(--primary-deep-blue);
}

.numbersContainer .boxUp .boxContent {
    position: absolute;
    bottom: 24px;
    z-index: 997;
}

.numbersContainer .boxUp .boxContent h1 {
    font-family: var(--font-family-RegularHead);
    font-weight: 300;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 1.2%;
    vertical-align: middle;
    margin-bottom: 8px;
}

.numbersContainer .boxUp .boxContent h1 span {
    font-size: 20px;
}

.numbersContainer .boxDown {
    width: 100%;
    height: 320px;
    border-radius: 8px;
    background-color: var(--neutral-light-gray);
    padding: 24px;
    position: relative;
}

.numbersContainer .boxDown .boxContent {
    position: absolute;
    bottom: 24px;
}

.numbersContainer .boxDown .boxContent h1 {
    font-family: var(--font-family-RegularHead);
    font-weight: 300;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 1.2%;
    vertical-align: middle;
    margin-bottom: 8px;
}

.numbersContainer .boxDown .boxContent h1 span {
    font-size: 20px;
}

.numbersContainer .statisticBoxDown {
    display: flex;
    gap: 32px;
}

.numbersContainer .statisticBoxUp>div:nth-child(1) {
    background-color: var(--primary-dark-navy);
    overflow: hidden;
}

.numbersContainer .statisticBoxUp>div:nth-child(1) h1 {
    color: var(--neutral-white);
}

.numbersContainer .statisticBoxUp>div:nth-child(1) .item {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 1;
    /* opacity: 0.6; */
    width: 600px;
    transform: rotate(0deg);
    filter: grayscale(100%);
}

.numbersContainer .statisticBoxUp>div:nth-child(2) {
    background-color: var(--primary-deep-blue);
}

.numbersContainer .statisticBoxUp>div:nth-child(3) {
    height: 320px;
    overflow: hidden;
}

.numbersContainer .statisticBoxUp>div:nth-child(3) .item {
    position: absolute;
    top: 0;
    right: 0;
}

.numbersContainer .statisticBoxUp>div:nth-child(3) .item img {
    width: 537px;
    height: 537px !important;
}

.numbersContainer .statisticBoxUp>div:nth-child(4) {
    height: 320px;
    overflow: hidden;
}

.numbersContainer .statisticBoxUp>div:nth-child(4) .item {
    position: absolute;
    top: 0;
    width: 435px;
    right: 37px;
}

.numbersContainer .statisticBoxUp>div:nth-child(4) .item img {
    width: 435px !important;
    height: 435px !important;
}

/* Banner Button */
.bannerBtn {
    height: 72px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 32px;
    background: var(--primary-deep-blue);
    border: none;
    font-family: var(--font-family-Thin);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--neutral-white);
}

.bannerBtn span {
    transition: transform 0.3s ease-in-out;
}

.bannerBtn .bannerBtnHouseIcon {
    opacity: 0;
}

.bannerBtn .bannerBtnArrowIcon {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}



@media (max-width: 1442px) {
    .numbersContainer {
        width: 100%;
        background: var(--neutral-white);
        border-radius: 16px;
        padding: 132px 24px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

@media (max-width: 1024px) {
    .numbersContainer {
        width: 100%;
        background: var(--neutral-white);
        border-radius: 16px;
        padding: 64px 24px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .numbersContainer .numbersTitle {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 32px;
        align-items: center;
    }

    .numbersContainer h1 {
        height: 56px;
        font-family: var(--font-family-RegularHead);
        font-weight: 300;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 1.25%;
        color: var(--primary-dark-navy);
    }

    .numbersContainer p {
        font-family: var(--font-family-Light);
        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 1.6%;
        vertical-align: middle;
        color: var(--neutral-dark-gray);
    }

    .numbersContainer hr {
        border: none;
        height: 1px;
        background-color: var(--neutral-dark-gray);
    }

    .numbersContainer .statisticBoxUp {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .numbersContainer .boxUp {
        width: 100%;
        height: 272px;
        padding: 16px;
        position: relative;
        border-radius: 8px;
        background-color: var(--neutral-light-gray);
    }

    .numbersContainer .boxUp .yellowBox {
        position: relative;
        width: 60px;
        height: 60px;
        background-color: rgba(255, 215, 25, 1);
    }

    .numbersContainer .boxUp .blueBox {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: var(--primary-deep-blue);
    }

    .numbersContainer .boxUp .boxContent {
        position: absolute;
        bottom: 24px;
    }

    .numbersContainer .boxUp .boxContent h1 {
        font-family: var(--font-family-RegularHead);
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 1.3%;
        vertical-align: middle;
        z-index: 997;
    }

    .numbersContainer .boxUp .boxContent h1 span {
        font-weight: 300;
        font-size: 22px;
        line-height: 120%;
        letter-spacing: 1.6%;
        vertical-align: middle;
    }

    .numbersContainer .boxDown {
        width: 100%;
        height: 172px;
        border-radius: 8px;
        background-color: var(--neutral-light-gray);
        padding: 16px;
        position: relative;
    }

    .numbersContainer .boxDown .boxContent {
        position: absolute;
        bottom: 16px;
    }

    .numbersContainer .boxDown .boxContent h1 {
        font-family: var(--font-family-RegularHead);
        font-weight: 300;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 1.2%;
        vertical-align: middle;
        margin-bottom: 8px;
        height: 43px;
    }

    .numbersContainer .boxDown .boxContent h1 span {
        font-size: 20px;
    }

    .numbersContainer .boxDown .boxContent p {
        font-size: 12px;
    }

    .numbersContainer .statisticBoxDown {
        display: flex;
        gap: 32px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(1) {
        background-color: var(--primary-dark-navy);
        overflow: hidden;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(1) h1 {
        color: var(--neutral-white);
    }

    .numbersContainer .statisticBoxUp>div:nth-child(1) p {
        font-size: 12px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(1) .item {
        position: absolute;
        top: -20%;
        right: -24%;
        z-index: 1;
        opacity: 0.6;
        width: 442px;
        filter: grayscale(100%);
    }

    .numbersContainer .statisticBoxUp>div:nth-child(2) {
        background-color: var(--primary-deep-blue);
    }

    .numbersContainer .statisticBoxUp>div:nth-child(3) {
        height: 200px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(3) p {
        font-size: 12px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(3) .item {
        position: absolute;
        top: -25%;
        right: 0;
        width: 260px !important;
        height: 260px !important;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(3) .item img {
        width: 260px !important;
        height: 260px !important;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) {
        height: 200px !important;
        overflow: hidden;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) p {
        font-size: 12px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) .item {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 284px !important;
        right: -24px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) .item img {
        width: 435px !important;
        height: 435px !important;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) {
        height: 320px;
    }

    .numbersContainer .statisticBoxDown {
        width: 100%;
        display: flex;
        gap: 16px;
    }

    .bannerBtn {
        height: 56px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .boxUp .boxContent h1 {
        width: 238px !important;
        font-size: 48px !important;
    }

    .boxUp .boxContent p {
        font-weight: 300;
        font-size: 12px !important;
        line-height: 120%;
        letter-spacing: 1.6%;
        vertical-align: middle;
    }

    .boxDown h1 {
        width: 192px !important;
    }

    .boxDown p {
        font-weight: 300;
        width: 192px !important;
        font-size: 12px !important;
        text-wrap: wrap !important;
        line-height: 120%;
        letter-spacing: 1.6%;
        vertical-align: middle;
    }
}

@media (max-width: 375px) {
    .numbersContainer {
        width: 100%;
        background: var(--neutral-white);
        border-radius: 16px;
        padding: 64px 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .numbersContainer .numbersTitle {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 24px;
        align-items: center;
    }

    .numbersContainer h1 {
        height: 56px;
        font-family: var(--font-family-Regular);
        font-weight: 300;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 1.25%;
        color: var(--primary-dark-navy);
    }

    .numbersContainer p {
        font-family: var(--font-family-Light);
        font-weight: 300;
        font-size: 14px !important;
        line-height: 140%;
        letter-spacing: 1.6%;
        vertical-align: middle;
        color: var(--neutral-dark-gray);
    }

    .numbersContainer hr {
        border: none;
        height: 1px;
        background-color: var(--neutral-dark-gray);
    }

    .numbersContainer .statisticBoxUp {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .numbersContainer .boxUp {
        width: 100%;
        height: 272px;
        padding: 16px;
        position: relative;
        border-radius: 8px;
        background-color: var(--neutral-light-gray);
    }

    .numbersContainer .boxUp .yellowBox {
        position: relative;
        width: 60px;
        height: 60px;
        background-color: rgba(255, 215, 25, 1);
    }

    .numbersContainer .boxUp .blueBox {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: var(--primary-deep-blue);
    }

    .numbersContainer .boxUp .boxContent {
        position: absolute;
        bottom: 24px;
    }

    .numbersContainer .boxUp .boxContent h1 {
        font-family: var(--font-family-RegularHead);
        font-weight: 300;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 1.3%;
        vertical-align: middle;
        z-index: 997;
    }

    .numbersContainer .boxUp .boxContent h1 span {
        font-weight: 300;
        font-size: 22px;
        line-height: 120%;
        letter-spacing: 1.6%;
        vertical-align: middle;
    }

    .numbersContainer .boxDown {
        width: 100%;
        height: 172px;
        border-radius: 8px;
        background-color: var(--neutral-light-gray);
        padding: 16px;
        position: relative;
    }

    .numbersContainer .boxDown .boxContent {
        position: absolute;
        bottom: 16px;
    }

    .numbersContainer .boxDown .boxContent h1 {
        font-family: var(--font-family-RegularHead);
        font-weight: 300;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 1.2%;
        vertical-align: middle;
        margin-bottom: 8px;
        height: 43px;
    }

    .numbersContainer .boxDown .boxContent h1 span {
        font-size: 20px;
    }

    .numbersContainer .boxDown .boxContent p {
        font-size: 12px !important;
    }

    .numbersContainer .statisticBoxDown {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(1) {
        height: 200px;
        background-color: var(--primary-dark-navy);
        overflow: hidden;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(1) h1 {
        font-weight: 300;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 1.35%;
        vertical-align: middle;
        height: auto !important;
        color: var(--neutral-white);
    }

    .numbersContainer .statisticBoxUp>div:nth-child(1) p {
        font-size: 12px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(1) .item {
        position: absolute;
        top: -45%;
        right: -40%;
        opacity: 0.6;
        width: 400px !important;
        height: 400px !important;
        filter: grayscale(100%);
    }

    .numbersContainer .statisticBoxUp>div:nth-child(2) {
        height: 200px;
        background-color: var(--primary-deep-blue);
    }

    .numbersContainer .statisticBoxUp>div:nth-child(3) {
        height: 200px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(3) h1 {
        font-weight: 300;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 1.35%;
        vertical-align: middle;
        height: auto !important;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(3) p {
        font-size: 12px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(3) .item {
        position: absolute;
        top: -20%;
        right: -30%;
        width: 263px !important;
        height: 263px !important;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) {
        height: 200px !important;
        overflow: hidden;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) h1 {
        font-weight: 300;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 1.35%;
        color: var(--primary-dark-navy);
        vertical-align: middle;
        height: auto;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) p {
        font-size: 12px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) .item {
        position: absolute;
        top: 20px;
        bottom: 0;
        width: 222px !important;
        height: 222px !important;
        right: -30px;
    }

    .numbersContainer .statisticBoxUp>div:nth-child(4) {
        height: 320px;
    }

    .numbersContainer .statisticBoxDown {
        width: 100%;
        display: flex;
        gap: 16px;
    }
}