@use "./components/header.scss";
@use "./components/primaryBtn.scss";
@use "./components/secondaryBtn.scss";
@use "./components/socialLinks.scss";
@use "./components/footer.scss";
@use "./components/about.scss";
@use "./components/banner.scss";
@use "./components/numbers.scss";
@use "./components/partners.scss";
@use "./components/ourCategories.scss";
@use "./components/details.scss";
@use "./components/response.scss";
@use "./components/media.scss";
@use "./components/howWork.scss";
@use "./components/checkoutForm.scss";
@use "./components/checkout.scss";
@use "./input/input.scss";
@use "./components/gratitude.scss";
@use "./modal/contactModal.scss";
@use "./modal/headerModal.scss";
@use "./filter/filter.scss";
@use "./components/products.scss";
@use "./pages/weaponPage.scss";
@use "./pages/supportPage.scss";
@use "./modal/preOrderModal.scss";
@use "./pages/successPage.scss";
@use "./modal/categoriesModal.scss";
:root  {
    --primary-deep-blue: #0f5ebb;
    --primary-golden-yellow: #ffd719;
    --primary-dark-navy: #1c2f43;
    --secondary-light-blue: #5a9bef;
    --secondary-warm-yellow: #ffe46e;
    --neutral-white: #ffffff;
    --neutral-light-gray: #f6f7f9;
    --neutral-medium-gray: rgba(107, 107, 107, 1);
    --neutral-medium-gray-second: rgba(208, 208, 208, 1);
    --neutral-dark-gray: #6b6b6b;
    --systems-error: #d32f2f;
    --systems-success: #388e3c;
    --systems-warning: #fbc02d;
    --font-family-Bold: "e-Ukraine-Bold";
    --font-family-Light: "e-Ukraine-Light";
    --font-family-Medium: "e-Ukraine-Medium";
    --font-family-Regular: "e-Ukraine-Regular";
    --font-family-RegularHead: "e-Ukraine-RegularHead";
    --font-family-Thin: "e-Ukraine-Thin";
    --font-family-UltraLight: "e-UkraineHead-UltraLight";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "e-Ukraine-Bold";
    src: url("../../public/fonts/e-Ukraine-Bold.otf") format("opentype");
}
@font-face {
    font-family: "e-Ukraine-RegularHead";
    src: url("../../public/fonts/e-UkraineHead-Regular.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-Light";
    src: url("../../public/fonts/e-Ukraine-Light.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-Medium";
    src: url("../../public/fonts/e-Ukraine-Medium.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-Regular";
    src: url("../../public/fonts/e-Ukraine-Regular.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-Thin";
    src: url("../../public/fonts/e-Ukraine-Thin.otf") format("opentype");
}

@font-face {
    font-family: "e-Ukraine-UltraLight";
    src: url("../../public/fonts/e-Ukraine-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: "e-UkraineHead-Regular";
    src: url("../../public/fonts/e-UkraineHead-Regular.woff2") format("woff2");
}

main {
    padding: 80px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--neutral-light-gray);
}

footer {
    width: 100%;
    padding: 0 8px 8px;
    background-color: var(--neutral-light-gray);
}

@media (max-width: 1024px) {
    main {
        padding-top: 56px;
    }
}
