.numbersContainer {
    width: 100%;
    background: var(--neutral-white);
    border-radius: 16px;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    hr {
        width: 100%;
        border: none;
        height: 1px;
        margin-top: 24px;
        background: rgba(208, 208, 208, 1);
    }
    .numbersTitle {
        width: 100%;
        display: flex;
        flex-direction: column;

        h1 {
            font-family: var(--font-family-Light);
            font-style: Light;
            font-weight: 300;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: 1.35%;
            vertical-align: middle;
            color: var(--primary-dark-navy);
        }
        p {
            margin-top: 24px;
            font-family: var(--font-family-Light);
            font-weight: 300;
            font-style: Light;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 1.6%;
            text-align: justify;
            vertical-align: middle;
        }
    }
    .statisticBoxUp {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        .boxUp {
            width: 100%;
            height: 200px;
            padding: 24px;
            position: relative;
            border-radius: 8px;
            background-color: var(--neutral-light-gray);
        }
    }
}

.numbersContainer .numbersContainer p {
    font-family: var(--font-family-Light);
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1.6%;
    vertical-align: middle;
    color: var(--neutral-medium-gray);
}

.numbersTitle p {
    font-family: var(--font-family-Light);
    font-weight: 300;
    font-style: Light;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.6%;
    text-align: justify;
    vertical-align: middle;
    color: var(--neutral-dark-gray);
}

.numbersContainer .boxUp .yellowBox {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 215, 25, 1);
}

.numbersContainer .boxUp .blueBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: var(--primary-deep-blue);
}

.numbersContainer .boxUp .boxContent {
    position: absolute;
    bottom: 24px;
    z-index: 997;
}

.numbersContainer .boxUp .boxContent h1 {
    font-family: var(--font-family-RegularHead);
    font-weight: 300;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 1.2%;
    vertical-align: middle;
    margin-bottom: 8px;
}

.numbersContainer .boxUp .boxContent h1 span {
    font-size: 20px;
}

.numbersContainer .boxDown {
    width: 100%;
    height: 320px;
    border-radius: 8px;
    background-color: var(--neutral-light-gray);
    padding: 24px;
    position: relative;
}

.numbersContainer .boxDown .boxContent {
    position: absolute;
    bottom: 24px;
}

.numbersContainer .boxDown .boxContent h1 {
    font-family: var(--font-family-RegularHead);
    font-weight: 300;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 1.2%;
    vertical-align: middle;
    margin-bottom: 8px;
}

.numbersContainer .boxDown .boxContent h1 span {
    font-size: 20px;
}

.numbersContainer .statisticBoxDown {
    display: flex;
    gap: 32px;
}

.numbersContainer .statisticBoxUp > div:nth-child(1) {
    background-color: var(--primary-dark-navy);
    overflow: hidden;
}

.numbersContainer .statisticBoxUp > div:nth-child(1) h1 {
    color: var(--neutral-white);
}

.numbersContainer .statisticBoxUp > div:nth-child(1) .item {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 1;
    width: 600px;
    transform: rotate(0deg);
    opacity: 0.6;
    mix-blend-mode: Luminosity;
}

.numbersContainer .statisticBoxUp > div:nth-child(2) {
    background-color: var(--primary-deep-blue);
}

.numbersContainer .statisticBoxUp > div:nth-child(3) {
    height: 320px;
    overflow: hidden;
}

.numbersContainer .statisticBoxUp > div:nth-child(3) .item {
    position: absolute;
    top: 0;
    right: 0;
}

.numbersContainer .statisticBoxUp > div:nth-child(3) .item img {
    width: 537px;
    height: 537px !important;
}

.numbersContainer .statisticBoxUp > div:nth-child(4) {
    height: 320px;
    overflow: hidden;
}

.numbersContainer .statisticBoxUp > div:nth-child(4) .item {
    position: absolute;
    top: 0;
    width: 435px;
    right: 37px;
}

.numbersContainer .statisticBoxUp > div:nth-child(4) .item img {
    width: 435px !important;
    height: 435px !important;
}

/* Banner Button */
.bannerBtn {
    height: 72px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 32px;
    background: var(--primary-deep-blue);
    border: none;
    font-family: var(--font-family-Thin);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--neutral-white);
}

.bannerBtn span {
    transition: transform 0.3s ease-in-out;
}

.bannerBtn .bannerBtnHouseIcon {
    opacity: 0;
}

.bannerBtn .bannerBtnArrowIcon {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}
