.partnersContainer ul {
    width: 100%;
    height: auto;
    background: var(--neutral-white);
    padding: 132px 181px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    list-style: none;
    margin: 0 auto;
}

.partnersContainer ul li:not(li:first-child) {
    width: 100%;
    height: 492px;
    border: 1px solid rgba(208, 208, 208, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0 24px;
    transition: .3s ease-in-out;
}

.partnersContainer ul li:not(li:first-child):hover {
    transition: .3s ease-in-out;
    background-color: rgb(246, 247, 249);
}

.partnersContainer ul li:not(li:first-child) picture {
    transition: .3s ease-in-out;
}

.partnersContainer ul li:not(li:first-child):hover picture {
    transform: scale(1.2);
    transition: .3s ease;
}

.partnersContainer ul li:not(li:first-child):hover a {
    transition: .3s ease-in-out;
    color: var(--secondary-light-blue);
    border-bottom: 2px solid var(--secondary-light-blue);
}

.partnersContainer ul li h1 {
    font-family: var(--font-family-Light) !important;
    font-weight: 300;
    font-style: Light;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 1.25%;
    vertical-align: middle;
    color: var(--primary-dark-navy);

}

.partnersContainer ul li a {
    width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 16px;
    height: 56px;
    background-color: var(--neutral-white);
    text-decoration: none;
    color: var(--primary-deep-blue);
    font-family: var(--font-family-Light);
    border-bottom: 2px solid transparent;
    font-weight: 900;
    font-style: Medium;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.partnersContainer ul li a i {
    font-size: 24px;
    font-weight: 400;
}