.droneBg {
    position: relative;
    width: 100%;
    height: 562px;
    img {
        width: 100%;
        height: 562px;
        background: rgba(28, 47, 67, 0.5);
        object-fit: cover;
        border-radius: 16px;
        mix-blend-mode: Soft light;
    }
    .bannerContainer {
        position: absolute;
        bottom: 24px;
        width: 100%;
        padding: 0 16px;
        .bannerSubtitle {
            font-family: var(--font-family-Light);
            font-weight: 300;
            font-style: Light;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 1.6%;
            vertical-align: middle;
            color: var(--neutral-white);
            margin-top: 32px;
        }
        .bannerContent {
            width: 100%;
            h1 {
                width: 100%;
                font-family: var(--font-family-Light);
                color: var(--neutral-white);
                font-size: 36px;

                font-weight: 300;
                line-height: 120%;
                letter-spacing: 1.35%;
                vertical-align: middle;
            }
            .bannerBtn {
                width: 100% !important;
                height: 56px;
                margin-top: 48px;
                border-radius: 999px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 24px;
                padding-left: 32px;
                background: var(--primary-deep-blue);
                border: none;
                font-family: var(--font-family-Thin);
                font-weight: 700;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: var(--neutral-white);
                transition: 0.3s ease;
                position: relative;
                .bannerBtnArrowIcon {
                    position: absolute;
                    right: 24px;
                }
                p {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: var(--font-family-Light);
                    left: 32px;
                    top: 50%;
                    transform: translate(0, -50%);
                    transition: left 0.3s ease, transform 0.3s ease;
                }
                &:hover {
                    cursor: pointer;
                    background: var(--secondary-light-blue);
                    .bannerBtnArrowIcon {
                        display: none;
                    }
                }
                &:hover p {
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: var(--neutral-white);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .droneBg {
        position: relative;
        width: 100%;
        height: 532px;
        img {
            width: 100%;
            height: 532px;
            object-fit: cover;
            border-radius: 16px;
            mix-blend-mode: Soft light;
        }
        .bannerContainer {
            position: absolute;
            bottom: 24px;
            width: 100%;
            padding: 0 16px;
            .bannerContent {
                width: 100%;
                h1 {
                    width: 100%;
                    font-family: var(--font-family-Light);
                    color: var(--neutral-white);
                    font-size: 56px;
                    font-weight: 300;
                    line-height: 120%;
                    letter-spacing: 1.35%;
                    vertical-align: middle;
                }
                .bannerBtn {
                    width: 459px !important;
                    height: 56px;
                    margin-top: 48px;
                    border-radius: 999px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-right: 24px;
                    padding-left: 32px;
                    background: var(--primary-deep-blue);
                    border: none;
                    font-family: var(--font-family-Thin);
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: var(--neutral-white);
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .droneBg {
        position: relative;
        width: 100%;
        height: 720px;
        img {
            width: 100%;
            height: 720px;
            object-fit: cover;
            border-radius: 16px;
            mix-blend-mode: Soft light;
        }
        .bannerContainer {
            position: absolute;
            bottom: 24px;
            width: 100%;
            padding: 0 16px;
            .bannerContent {
                width: 100%;
                h1 {
                    width: 789px;
                    font-family: var(--font-family-RegularHead);
                    font-size: 72px;
                    line-height: 120%;
                    letter-spacing: 1.2%;
                    vertical-align: middle;
                }
                .bannerBtn {
                    width: 554px !important;
                    height: 72px;
                    margin-top: 48px;
                    border-radius: 999px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-right: 24px;
                    padding-left: 32px;
                    background: var(--primary-deep-blue);
                    border: none;
                    font-family: var(--font-family-Thin);
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: var(--neutral-white);
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    .droneBg {
        position: relative;
        width: 100%;
        height: 920px;
        img {
            width: 100%;
            height: 920px;
            object-fit: cover;
            border-radius: 16px;
            mix-blend-mode: Soft light;
        }
        .bannerContainer {
            position: absolute;
            bottom: 48px;
            width: 100%;
            padding: 0 181px;
            .bannerContent {
                width: 100%;
                h1 {
                    width: 789px;
                    font-family: var(--font-family-RegularHead);
                    font-size: 72px;
                    line-height: 120%;
                    letter-spacing: 1.2%;
                    vertical-align: middle;
                }
                .bannerBtn {
                    width: 554px !important;
                    height: 72px;
                    margin-top: 48px;
                    border-radius: 999px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-right: 24px;
                    padding-left: 32px;
                    background: var(--primary-deep-blue);
                    border: none;
                    font-family: var(--font-family-Thin);
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: var(--neutral-white);
                }
            }
        }
    }
}
