@mixin font-light {
    font-family: var(--font-family-Light);
    font-weight: 300;
    font-style: Light;
}

@mixin font-Bold {
    font-family: var(--font-family-Bold);
    font-style: Bold;
}

.formContainer {
    margin-top: 8px;
    h1 {
        @include font-light;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 1.4%;
        vertical-align: middle;
        color: var(--primary-dark-navy);
        margin-bottom: 24px;
    }

    .box {
        padding: 16px;
        background: var(--neutral-white);
        padding-top: 32px;
        border-radius: 16px;

        &:first-child:not(.formLeftSide > .userData) {
            margin-bottom: 8px;
        }

        .productBox {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        .productCardWrapper {
            .productCardHeader {
                h3 {
                    display: none;
                }
            }
            .productCardBottom {
                display: none !important;
            }
        }
        .productCard {
            width: 100%;
            height: fit-content;
            background: rgba(246, 247, 249, 1);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            padding: 8px;
            position: relative;
            .productCardMobHeader {
                display: flex !important;
                gap: 16px;
                h3 {
                    width: 147px !important;
                }
            }
            form {
                position: absolute;
                right: 8px;
                top: 8px;
                button {
                    background: transparent;
                    border: none;
                }
                .trash {
                    font-size: 24px;
                    color: var(--neutral-medium-gray) !important;
                }
            }
            .productCardHeader {
                display: flex;
                gap: 16px;
            }

            .productCardBottom {
                display: flex;
                justify-content: space-between;
                margin-top: 16px;
                .counter {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    width: 128px;

                    input {
                        width: 64px;
                        height: 36px;
                        border-radius: 8px;
                        outline: none;
                        @include font-light;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                        text-align: center;
                        border: 1px solid rgba(208, 208, 208, 1);
                    }

                    i {
                        font-size: 24px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .cost {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    text-align: end;
                    @include font-light;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 1.6%;
                    vertical-align: middle;

                    span {
                        @include font-light;
                        font-size: 12px;
                        line-height: 120%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                    }

                    p {
                        @include font-light;
                        font-size: 12px;
                        color: rgba(107, 107, 107, 1);
                        line-height: 120%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                    }
                }
            }

            h3 {
                flex-wrap: wrap;
                @include font-light;
                font-size: 14px;
                color: rgba(28, 47, 67, 1);
                line-height: 120%;
                letter-spacing: 1.6%;
                vertical-align: middle;
            }

            img {
                width: 116px;
                border-radius: 8px;
                border: 1px solid rgba(208, 208, 208, 1);
            }
        }
    }

    form[class="checkoutForm"] {
        display: flex;
        flex-direction: column !important;
        gap: 16px;

        .formLeftSide {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .box {
            padding: 16px;
            background: var(--neutral-white);
            padding-top: 32px;
            border-radius: 16px;
        }

        h6 {
            @include font-light;
            font-size: 20px;
            color: var(--primary-dark-navy);
            line-height: 24px;
            letter-spacing: 1.6%;
            vertical-align: middle;
        }

        .userData {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .title {
                display: none;
            }

            .inputsWrapper {
                display: grid;
                gap: 24px !important;
            }

            .error {
                margin-top: 8px !important;
                width: 100%;
                margin: 0;
                font-family: var(--font-family-Regular);
                font-size: 12px;
                line-height: 120%;
                letter-spacing: 1.4%;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 8px;

                span {
                    padding: 0 !important;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    width: auto;
                    color: red;
                    height: 100%;
                    @include font-Bold();
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 0%;
                }

                i {
                    font-size: 24px;
                }

                h6 {
                    font-family: var(--font-family-Regular);
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: 1.4%;
                    color: rgba(28, 47, 67, 1);
                }
            }

            i[class="inputIcon"] {
                position: absolute;
                font-size: 20px;
                right: 2px;
                top: 70%;
                transform: translate(-50%, -50%);

                &:focus .fillCopyIcon {
                    display: block;
                }
            }

            .active {
                display: flex;
            }

            .priceData {
                width: 100%;
                hr {
                    display: none;
                }
                p {
                    font-family: var(--font-family-Light);
                    font-style: Light;
                    font-size: 14px;
                    color: var(--neutral-medium-gray);
                    line-height: 120%;
                    letter-spacing: 1.6%;
                    vertical-align: middle;
                }

                h6 {
                    @include font-light;
                    font-size: 28px;
                    margin-bottom: 16px;
                    line-height: 120%;
                    letter-spacing: 1.4%;
                    vertical-align: middle;
                    color: rgba(28, 47, 67, 1);

                    span {
                        font-family: var(--font-family-Light);
                        color: rgba(28, 47, 67, 1) !important;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                    }
                }

                .forSolders {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    padding: 0px 12px;
                    background: rgba(246, 247, 249, 1);
                    border-radius: 4px;

                    .icon {
                        margin-right: 16px;
                    }

                    p {
                        font-family: var(--font-family-Thin);
                        font-style: Light;
                        font-size: 14px;
                        color: var(--neutral-medium-gray);
                        line-height: 120%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;

                        span {
                            color: var(--primary-dark-navy);
                        }
                    }
                }
            }

            .productCard {
                display: none !important;
                width: 100%;
                height: fit-content;
                background: rgba(246, 247, 249, 1);
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                padding: 8px;
                position: relative;
                gap: 16px;

                .productCardHeader {
                    height: 100%;
                    display: flex;
                    gap: 16px;
                }

                .productCardBottom {
                    display: flex;
                    justify-content: space-between;

                    .counter {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        width: 128px;

                        input {
                            width: 64px;
                            height: 36px;
                            border-radius: 8px;
                            outline: none;
                            @include font-light;
                            font-size: 14px;
                            line-height: 120%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;

                            text-align: center;
                            border: 1px solid rgba(208, 208, 208, 1);
                        }

                        i {
                            font-size: 24px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    .cost {
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        text-align: end;
                        @include font-light;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;

                        span {
                            @include font-light;
                            font-size: 12px;
                            line-height: 120%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;
                        }

                        p {
                            @include font-light;
                            font-size: 12px;
                            color: rgba(107, 107, 107, 1);
                            line-height: 120%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;
                        }
                    }
                }
                button {
                    background-color: transparent;
                    border: transparent;
                    .trash {
                        position: absolute;
                        right: 8px;
                        top: 8px;
                        font-size: 24px;
                        color: var(--neutral-medium-gray);
                    }
                }

                h3 {
                    flex-wrap: wrap;
                    @include font-light;
                    font-size: 14px;
                    color: rgba(28, 47, 67, 1);
                    line-height: 120%;
                    letter-spacing: 1.6%;
                    vertical-align: middle;
                }

                img {
                    width: 116px;
                    border-radius: 8px;
                    border: 1px solid rgba(208, 208, 208, 1);
                }
            }

            hr {
                margin: 0 auto;
                border: none;
                height: 1px;
                background: var(--neutral-medium-gray-second);
                width: 295px;
            }

            .btnSection {
                width: 100% !important;
                display: flex;
                flex-direction: column;
                gap: 24px;

                .btnConfirm {
                    width: 100% !important;
                    height: 48px;
                    border-radius: 999px;
                    border: none;
                    background: var(--primary-deep-blue);
                    color: var(--neutral-white);
                    font-family: var(--font-family-Bold);
                    font-style: Bold;
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    transition: 0.3s ease;
                    vertical-align: middle;
                    &:hover {
                        transition: 0.3s ease;
                        cursor: pointer;
                        background: var(--secondary-light-blue);
                    }
                }

                .btnCheckout {
                    width: 100%;
                    height: 48px;
                    border-radius: 999px;
                    background: transparent;
                    border: 2px solid var(--primary-deep-blue);
                    @include font-Bold();
                    transition: 0.3s ease;
                    color: var(--primary-deep-blue);
                    &:hover {
                        transition: 0.3s ease;
                        background: var(--primary-deep-blue);
                        cursor: pointer;
                        color: var(--neutral-white);
                    }
                }
            }

            span {
                @include font-light;
                font-size: 12px;
                color: var(--neutral-medium-gray);
                line-height: 120%;
                letter-spacing: 1.6%;
                text-align: center;
                vertical-align: middle;
            }

            .filters {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                label {
                    height: 40px;
                    width: fit-content;
                }
            }

            .inputContainer {
                input {
                    height: 40px !important;
                }
            }
        }
    }
}

.inputContainer {
    input,
    select {
        padding: 0 16px !important;
        height: 40px !important;
    }
    select {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    %font-light {
        font-family: var(--font-family-Light);
        font-weight: 300;
        font-style: Light;
    }

    .formContainer {
        margin-top: 8px;
        h1 {
            @include font-light;
            font-size: 28px;
            line-height: 120%;
            letter-spacing: 1.4%;
            vertical-align: middle;
            color: var(--primary-dark-navy);
            margin-bottom: 8px;
        }

        .box {
            padding: 16px;
            background: var(--neutral-white);
            padding-top: 32px;
            border-radius: 16px;
        }

        form[class="checkoutForm"] {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .box {
                padding: 16px;
                background: var(--neutral-white);
                padding-top: 32px;
                border-radius: 16px;
            }

            h6 {
                @extend %font-light;
                font-size: 20px;
                color: var(--primary-dark-navy);
                line-height: 24px;
                letter-spacing: 1.6%;
                vertical-align: middle;
            }

            .userData {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .priceData {
                    width: 100%;

                    p {
                        font-family: var(--font-family-Thin);
                        font-style: Light;
                        font-size: 14px;
                        color: var(--neutral-medium-gray);
                        line-height: 120%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                    }

                    h6 {
                        @include font-light;
                        font-size: 28px;
                        margin-bottom: 16px;
                        line-height: 120%;
                        letter-spacing: 1.4%;
                        vertical-align: middle;

                        span {
                            font-family: var(--font-family-Light);
                            padding: 0 !important;
                            font-size: 16px;
                            line-height: 140%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;
                        }
                    }

                    .forSolders {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        padding: 0px 12px;
                        background: rgba(246, 247, 249, 1);

                        .icon {
                            margin-right: 16px;
                        }

                        p {
                            font-family: var(--font-family-Thin);
                            font-style: Light;
                            font-size: 14px;
                            color: var(--neutral-medium-gray);
                            line-height: 120%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;

                            span {
                                padding: 0 !important;
                                color: var(--primary-dark-navy);
                            }
                        }
                    }
                }

                hr {
                    width: 100% !important;
                    border: none;
                    height: 1px;
                    background: var(--neutral-medium-gray-second);
                }

                .btnSection {
                    width: 100% !important;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .btnConfirm {
                        width: 100% !important;
                        height: 48px;
                        border-radius: 999px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        &:hover {
                            transition: 0.3s ease;
                            cursor: pointer;
                            background: var(--secondary-light-blue);
                        }
                    }

                    .btnCheckout {
                        width: 100%;
                        height: 48px;
                    }
                }

                span {
                    @extend %font-light;
                    font-size: 12px;
                    padding: 0 !important;
                    color: var(--neutral-medium-gray);
                    line-height: 120%;
                    letter-spacing: 1.6%;
                    text-align: center;
                    vertical-align: middle;
                }

                .filters {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;

                    label {
                        height: 40px;
                        width: fit-content;
                    }
                }

                .inputContainer {
                    input,
                    select {
                        height: 40px !important;
                    }
                }
            }
        }
    }

    .inputContainer {
        input {
            height: 40px !important;
        }
    }
}

@media screen and (min-width: 1024px) {
    .formContainer {
        .productCard {
            display: none !important;
        }

        margin-top: 8px;

        h1 {
            font-family: var(--font-family-Light);
            font-weight: 300;
            font-style: Light;
            font-size: 28px !important;
            line-height: 120%;
            letter-spacing: 1.4%;
            vertical-align: middle;
            color: var(--primary-dark-navy);
            margin-bottom: 8px;
        }

        .box {
            padding: 32px;
            background: var(--neutral-white);

            border-radius: 16px;
        }

        form[class="checkoutForm"] {
            display: flex;
            flex-direction: row !important;
            gap: 8px;

            .formLeftSide {
                min-width: 536px !important;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .box {
                padding: 24px;
                background: var(--neutral-white);
                border-radius: 16px;
            }

            h6 {
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 20px;
                color: var(--primary-dark-navy);
                line-height: 24px;
                letter-spacing: 1.6%;
                vertical-align: middle;
            }

            .userData {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .productCard {
                    display: flex !important;
                }

                .title {
                    display: block;
                }

                .inputsWrapper {
                    display: grid;
                    gap: 16px !important;
                }

                .priceData {
                    hr {
                        display: block;
                        margin-bottom: 32px;
                    }
                }

                .error {
                    margin-top: 8px !important;
                    width: 100%;
                    margin: 0;
                    font-family: var(--font-family-Regular);
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: 1.4%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 8px;

                    span {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: auto;
                        color: red;
                        height: 100%;
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                    }

                    i {
                        font-size: 24px;
                    }

                    h6 {
                        font-family: var(--font-family-Regular);
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 120%;
                        letter-spacing: 1.4%;
                        color: rgba(28, 47, 67, 1);
                    }
                }

                i[class="inputIcon"] {
                    position: absolute;
                    font-size: 20px;
                    right: 2px;
                    top: 70%;
                    transform: translate(-50%, -50%);

                    &:focus .fillCopyIcon {
                        display: block;
                    }
                }

                .active {
                    display: flex;
                }

                .priceData {
                    width: 100%;

                    p {
                        font-family: var(--font-family-Thin);

                        font-style: Light;
                        font-size: 14px;
                        color: var(--neutral-medium-gray);
                        line-height: 120%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                    }

                    h6 {
                        font-family: var(--font-family-Light);
                        font-weight: 300;
                        font-style: Light;
                        font-size: 28px;
                        margin-bottom: 16px;
                        line-height: 120%;
                        letter-spacing: 1.4%;
                        vertical-align: middle;

                        span {
                            font-family: var(--font-family-Light);
                            font-size: 16px;
                            line-height: 140%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;
                        }
                    }

                    .forSolders {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        flex-direction: row;

                        padding: 0px 12px;
                        background: rgba(246, 247, 249, 1);

                        .icon {
                            margin-right: 16px;
                        }

                        p {
                            font-family: var(--font-family-Thin);

                            font-style: Light;
                            font-size: 14px;
                            color: var(--neutral-medium-gray);
                            line-height: 120%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;

                            span {
                                color: var(--primary-dark-navy);
                            }
                        }
                    }
                }

                hr {
                    margin: 0 auto;
                    border: none;
                    height: 1px;
                    background: var(--neutral-medium-gray-second);
                    width: 295px;
                }

                .btnSection {
                    width: 327px;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .btnConfirm {
                        width: 100%;
                        height: 48px;
                        border-radius: 999px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                    }

                    .btnCheckout {
                        width: 100%;
                        height: 48px;
                    }
                }

                span {
                    font-family: var(--font-family-Light);
                    font-weight: 300;
                    font-style: Light;
                    font-size: 12px;
                    color: var(--neutral-medium-gray);
                    line-height: 120%;
                    letter-spacing: 1.6%;
                    text-align: center;
                    padding: 0 32px;
                    vertical-align: middle;
                }

                .filters {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;

                    label {
                        height: 40px;
                        width: fit-content;
                    }
                }

                .inputContainer {
                    input,
                    select {
                        height: 40px !important;
                    }
                }
            }
        }
    }

    .inputContainer {
        input {
            height: 40px !important;
        }
    }
}

@media screen and (min-width: 1440px) {
    .formContainer {
        margin-top: 8px;

        h1 {
            font-family: var(--font-family-Light);
            font-weight: 300;
            font-style: Light;
            font-size: 56px;
            leading-trim: NONE;
            line-height: 120%;
            letter-spacing: 1.25%;
            vertical-align: middle;
            color: var(--primary-dark-navy);
            margin-bottom: 8px;
        }

        .box {
            padding: 32px;
            background: var(--neutral-white);
            padding-top: 72px;
            border-radius: 16px;
        }

        form[class="checkoutForm"] {
            display: flex;
            flex-direction: row !important;
            gap: 8px;

            .formLeftSide {
                width: 100% !important;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .box {
                padding: 32px;
                background: var(--neutral-white);
                padding-top: 32px;
                border-radius: 16px;
            }

            h6 {
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 24px;
                color: var(--primary-dark-navy);
                line-height: 24px;
                letter-spacing: 1.6%;
                vertical-align: middle;
            }

            .userData {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .productBox {
                    .productCard {
                        height: 100%;
                        display: flex !important;
                        flex-direction: row !important;

                        .productCardWrapper {
                            width: 100% !important;
                            height: auto !important;
                            display: flex !important;
                            flex-direction: column !important;
                            justify-content: space-between !important;

                            .productCardBottom {
                                .cost {
                                    display: flex;
                                    justify-content: end;
                                    text-align: end;
                                    font-size: 16px !important;

                                    span {
                                        font-size: 12px !important;
                                        color: var(--primary-dark-navy);
                                        padding: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }

                .inputsWrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 32px;
                }

                .title {
                    display: block;
                }

                .priceData {
                    hr {
                        display: block;
                        margin-bottom: 32px;
                    }
                }

                .error {
                    margin-top: 8px !important;
                    width: 100%;
                    margin: 0;
                    font-family: var(--font-family-Regular);
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: 1.4%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 8px;

                    span {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: auto;
                        color: red;
                        height: 100%;
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                    }

                    i {
                        font-size: 24px;
                    }

                    h6 {
                        font-family: var(--font-family-Regular);
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 120%;
                        letter-spacing: 1.4%;
                        color: rgba(28, 47, 67, 1);
                    }
                }

                i[class="inputIcon"] {
                    position: absolute;
                    font-size: 20px;
                    right: 2px;
                    top: 70%;
                    transform: translate(-50%, -50%);

                    &:focus .fillCopyIcon {
                        display: block;
                    }
                }

                .active {
                    display: flex;
                }

                .priceData {
                    width: 100%;

                    p {
                        font-family: var(--font-family-Thin);

                        font-style: Light;
                        font-size: 14px;
                        color: var(--neutral-medium-gray);
                        line-height: 120%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                    }

                    h6 {
                        font-family: var(--font-family-Light);
                        font-weight: 300;
                        font-style: Light;
                        font-size: 28px;
                        margin-bottom: 16px;
                        line-height: 120%;
                        letter-spacing: 1.4%;
                        vertical-align: middle;

                        span {
                            font-family: var(--font-family-Light);
                            font-size: 16px;
                            line-height: 140%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;
                        }
                    }

                    .forSolders {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        flex-direction: row;

                        padding: 0px 12px;
                        background: rgba(246, 247, 249, 1);

                        .icon {
                            margin-right: 16px;
                        }

                        p {
                            font-family: var(--font-family-Thin);

                            font-style: Light;
                            font-size: 14px;
                            color: var(--neutral-medium-gray);
                            line-height: 120%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;

                            span {
                                color: var(--primary-dark-navy);
                            }
                        }
                    }
                }

                hr {
                    margin: 0 auto;
                    border: none;
                    height: 1px;
                    background: var(--neutral-medium-gray-second);
                    width: 295px;
                }

                .btnSection {
                    width: 327px;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .btnConfirm {
                        width: 100%;
                        height: 48px;
                        border-radius: 999px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                    }

                    .btnCheckout {
                        width: 100%;
                        height: 48px;
                    }
                }

                span {
                    font-family: var(--font-family-Light);
                    font-weight: 300;
                    font-style: Light;
                    font-size: 12px;
                    color: var(--neutral-medium-gray);
                    line-height: 120%;
                    letter-spacing: 1.6%;
                    text-align: center;
                    padding: 0 32px;
                    vertical-align: middle;
                }

                .filters {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;

                    label {
                        height: 40px;
                        width: fit-content;
                    }
                }

                .inputContainer {
                    input,
                    select {
                        height: 40px !important;
                    }
                }
            }
        }
    }

    .inputContainer {
        input {
            height: 40px !important;
        }
    }
}

@media screen and (min-width: 1920px) {
    .formContainer {
        margin-top: 8px;

        h1 {
            @include font-light;
            font-size: 56px !important;
            line-height: 120%;
            letter-spacing: 1.25%;
            vertical-align: middle;
            color: var(--primary-dark-navy);
            margin-bottom: 8px;
        }

        .box {
            padding: 32px;
            background: var(--neutral-white);
            padding-top: 72px;
            border-radius: 16px;
        }

        form[class="checkoutForm"] {
            display: flex;
            flex-direction: row !important;
            gap: 8px;
            .productCard {
                height: 100%;
                display: flex !important;
                flex-direction: row !important;
                #form {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                    button {
                        background: transparent;
                        border: none;
                    }
                    .trash {
                        font-size: 24px;
                        color: var(--neutral-medium-gray) !important;
                    }
                }
                img {
                    width: 124px !important;
                    height: 124px !important;
                }

                .productCardWrapper {
                    padding-top: 16px;
                    padding-bottom: 24px;
                    width: 100% !important;
                    height: auto !important;
                    display: flex !important;
                    flex-direction: column !important;
                    justify-content: space-between !important;
                    .productCardHeader {
                        h3 {
                            display: block;
                        }
                    }
                }
            }

            .formLeftSide {
                width: calc(100% - 645px) !important;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .box {
                padding: 32px;
                background: var(--neutral-white);
                padding-top: 32px;
                border-radius: 16px;
            }

            h6 {
                @include font-light;
                font-size: 24px;
                color: var(--primary-dark-navy);
                line-height: 24px;
                letter-spacing: 1.6%;
                vertical-align: middle;
            }

            .userData {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .inputsWrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 32px !important;
                }

                .title {
                    display: block;
                }

                .priceData {
                    hr {
                        display: block;
                        margin-bottom: 32px;
                    }
                }

                .error {
                    margin-top: 8px !important;
                    width: 100%;
                    margin: 0;
                    font-family: var(--font-family-Regular);
                    font-size: 12px;
                    line-height: 120%;
                    letter-spacing: 1.4%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 8px;

                    span {
                        padding: 0 !important;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: auto;
                        color: red;
                        height: 100%;
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px !important;
                        line-height: 120%;
                        letter-spacing: 0%;
                    }

                    i {
                        font-size: 24px;
                    }

                    h6 {
                        font-family: var(--font-family-Regular);
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 120%;
                        letter-spacing: 1.4%;
                        color: rgba(28, 47, 67, 1);
                    }
                }

                i[class="inputIcon"] {
                    position: absolute;
                    font-size: 20px;
                    right: 2px;
                    top: 70%;
                    transform: translate(-50%, -50%);

                    &:focus .fillCopyIcon {
                        display: block;
                    }
                }

                .active {
                    display: flex;
                }

                .priceData {
                    width: 100%;

                    p {
                        font-family: var(--font-family-Thin);

                        font-style: Light;
                        font-size: 14px;
                        color: var(--neutral-medium-gray);
                        line-height: 120%;
                        letter-spacing: 1.6%;
                        vertical-align: middle;
                    }

                    h6 {
                        @include font-light;
                        font-size: 28px;
                        margin-bottom: 16px;
                        line-height: 120%;
                        letter-spacing: 1.4%;
                        vertical-align: middle;

                        span {
                            @include font-light;
                            font-size: 16px;
                            line-height: 140%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;
                        }
                    }

                    .forSolders {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        flex-direction: row;

                        padding: 0px 12px;
                        background: rgba(246, 247, 249, 1);

                        .icon {
                            margin-right: 16px;
                        }

                        p {
                            @include font-light;
                            font-size: 14px;
                            color: var(--neutral-medium-gray);
                            line-height: 120%;
                            letter-spacing: 1.6%;
                            vertical-align: middle;

                            span {
                                color: var(--primary-dark-navy);
                            }
                        }
                    }
                }

                hr {
                    margin: 0 auto;
                    border: none;
                    height: 1px;
                    background: var(--neutral-medium-gray-second);
                    width: 295px;
                }

                .btnSection {
                    width: 327px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px !important;

                    .btnConfirm {
                        width: 100%;
                        height: 48px;
                        border-radius: 999px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        &:hover {
                            transition: 0.3s ease;
                            background: var(--secondary-light-blue);
                            cursor: pointer;
                            color: var(--neutral-white);
                        }
                    }

                    .btnCheckout {
                        width: 100%;
                        height: 48px;
                        border-radius: 999px;
                        background: transparent;
                        border: 2px solid var(--primary-deep-blue);
                        @include font-Bold();
                        color: var(--primary-deep-blue);
                        &:hover {
                            transition: 0.3s ease;
                            background: var(--primary-deep-blue);
                            cursor: pointer;
                            color: var(--neutral-white);
                        }
                    }
                }

                span {
                    @include font-light;
                    font-size: 12px;
                    color: var(--neutral-medium-gray);
                    line-height: 120%;
                    letter-spacing: 1.6%;
                    text-align: center;
                    padding: 0 32px;
                    vertical-align: middle;
                }

                .filters {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;

                    label {
                        height: 40px;
                        width: fit-content;
                    }
                }

                .inputContainer {
                    input,
                    select {
                        height: 40px !important;
                    }
                }
            }
        }
    }

    .inputContainer {
        input {
            height: 40px !important;
        }
    }
}
