.responsesContainer {
    width: 100%;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    background: var(--neutral-white);
    border-radius: 8px;

    hr {
        border: 1px solid transparent;
        height: 2px;
        background-color: var(--neutral-light-gray);
    }

    .responsesHeader {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 32px;
        background-color: var(--primary-dark-navy);
        border-radius: 8px;
        padding: 32px 24px;

        h1 {
            height: 67px;
            font-family: var(--font-family-Light);
            font-weight: 300;
            font-style: Light;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: 1.35%;
            vertical-align: middle;
            color: var(--neutral-white);
        }

        .subtitle {
            display: flex;
            flex-direction: column;

            .socialLinks {
                display: flex;
                width: 100%;
                margin-top: 32px;

                li {
                    width: 56px;
                    height: 56px;

                    .socialLinksStyles {
                        width: 56px;
                        height: 56px;
                    }

                    i {
                        font-size: 24px;
                    }
                }
            }

            p {
                font-family: var(--font-family-Light);
                color: var(--neutral-white);
                font-weight: 300;
                font-style: Light;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 1.6%;
                vertical-align: middle;
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        margin-top: 16px;

        .swiper-slide {
            flex: 0 0 auto;
            width: 155.5px;
            height: 290px;
            box-sizing: border-box;
            padding: 0;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .slide {
                position: relative;

                &:hover .slide_hover_block {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;
                }

                .slide_hover_block {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    backdrop-filter: blur(10px);
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.3s ease;
                }

                .photo {
                    button {
                        width: 56px;
                        height: 56px;
                        border-radius: 999px;
                        padding: 14px 20px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        gap: 8px;
                        transition: 0.3s ease;
                        i {
                            font-size: 20px;
                        }
                        span {
                            display: none;
                        }
                        &:hover {
                            transition: 0.3s ease;
                            background: var(--secondary-light-blue);
                            cursor: pointer;
                        }
                    }
                }

                .video {
                    button {
                        width: 56px;
                        height: 56px;
                        border-radius: 999px;
                        padding: 14px 20px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        gap: 8px;
                        &:hover {
                            transition: 0.3s ease;
                            background: var(--secondary-light-blue);
                            cursor: pointer;
                        }
                        i {
                            font-size: 24px;
                        }
                    }
                }
            }
            img {
                border-radius: 8px;
                width: 100%;
                height: 290px;
                object-fit: cover;
            }
        }

        .slider__nav {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            gap: 16px;

            .btnPrev {
                min-width: 125px;
                height: 48px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                position: relative;
                font-weight: 700;
                font-style: Bold;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                transition: 0.3s ease;
                font-family: var(--font-family-RegularHead);

                .icon {
                    font-size: 20px;
                    left: 20px;
                }

                &:hover {
                    border-color: var(--primary-deep-blue);
                    background-color: var(--primary-deep-blue);
                }
            }

            .btnNext {
                width: 100% !important;
                height: 48px;
                background-color: var(--primary-deep-blue);
                color: var(--neutral-white);
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.3s ease;
                position: relative;
                font-style: Bold;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                font-family: var(--font-family-Medium);

                .icon {
                    font-size: 20px;
                }

                &:hover {
                    border-color: var(--secondary-light-blue);
                    background-color: var(--secondary-light-blue);
                }
            }
        }

        .slider_bottom_nav {
            width: 100%;

            display: flex;
            gap: 8px;
            margin-top: 24px;
            .swiper-pagination-bullet {
                width: 100%;
                border-radius: 6px;
                margin: 0 !important;
            }
            .swiper-pagination-bullet-active {
                background: var(--secondary-light-blue);
            }
            .slider__nav_item {
                width: 100%;
                height: 100%;
                border-radius: 999px;
                background-color: var(--neutral-medium-gray-second);

                &.active {
                    background-color: var(--secondary-light-blue);
                }
            }
        }
    }
}

.btnNext p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 32px;
    top: 50%;
    transform: translate(0, -50%);
    transition: left 0.3s ease, transform 0.3s ease;
}

.btnNext .icon {
    position: absolute;
    right: 24px;
}

.btnPrev p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: right 0.3s ease, transform 0.3s ease;
}
.btnPrev .icon {
    position: absolute;
    left: 20px;
}

@media screen and (min-width: 768px) {
    .responsesContainer {
        width: 100%;
        padding: 64px 24px;
        display: flex;
        flex-direction: column;
        background: var(--neutral-white);
        border-radius: 8px;

        hr {
            border: 1px solid transparent;
            height: 2px;
            background-color: var(--neutral-light-gray);
        }

        .responsesHeader {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 32px;
            background-color: var(--primary-dark-navy);
            border-radius: 8px;
            padding: 32px 24px;

            h1 {
                height: 43px;
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 36px;
                line-height: 120%;
                letter-spacing: 1.35%;
                vertical-align: middle;
                color: var(--neutral-white);
            }

            .subtitle {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 64px;

                .socialLinks {
                    display: flex;
                    width: 100%;
                    margin-top: 0px;

                    li {
                        width: 48px !important;
                        height: 48px !important;

                        .socialLinksStyles {
                            width: 48px !important;
                            height: 48px !important;
                        }

                        i {
                            font-size: 20px;
                        }
                    }
                }

                p {
                    min-width: 352px;
                    font-family: var(--font-family-Light);
                    color: var(--neutral-white);
                    font-style: Light;
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 1.6%;
                    vertical-align: middle;
                }
            }
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-top: 16px;

        .swiper-slide {
            flex: 0 0 auto !important;
            width: 213.33px !important;
            height: 352px !important;
            box-sizing: border-box;
            padding: 0;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                border-radius: 8px;
                width: 100%;
                height: 352px !important;

                object-fit: cover;
            }
        }

        .slider__nav {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            gap: 32px !important;

            .btnPrev {
                min-width: 213px !important;
                height: 56px !important;
                display: flex;
                justify-content: space-between;
                align-items: center;

                position: relative;
                font-weight: 700;
                font-style: Bold;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                transition: 0.3s ease;
                font-family: var(--font-family-RegularHead);

                .icon {
                    font-size: 20px;
                    left: 20px;
                }

                &:hover {
                    border-color: var(--primary-deep-blue);
                    background-color: var(--primary-deep-blue);
                }
            }

            .btnNext {
                width: 100% !important;
                height: 56px !important;
                background-color: var(--primary-deep-blue);
                color: var(--neutral-white);
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.3s ease;
                position: relative;
                font-style: Bold;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                font-family: var(--font-family-Medium);

                .icon {
                    font-size: 20px;
                }

                &:hover {
                    border-color: var(--secondary-light-blue);
                    background-color: var(--secondary-light-blue);
                }
            }
        }

        .slider_bottom_nav {
            width: 100%;

            display: flex;
            gap: 8px;
            margin-top: 24px;
            .swiper-pagination-bullet {
                width: 100%;
                border-radius: 6px;
            }
            .swiper-pagination-bullet-active {
                background: var(--secondary-light-blue);
            }
            .slider__nav_item {
                width: 100%;
                height: 100%;
                border-radius: 999px;
                background-color: var(--neutral-medium-gray-second);

                &.active {
                    background-color: var(--secondary-light-blue);
                }
            }
        }
    }

    .btnNext p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 32px;
        top: 50%;
        transform: translate(0, -50%);
        transition: left 0.3s ease, transform 0.3s ease;
    }

    .btnNext .icon {
        position: absolute;
        right: 24px;
    }

    .btnPrev p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: right 0.3s ease, transform 0.3s ease;
    }

    .btnPrev .icon {
        position: absolute;
        left: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .responsesContainer {
        width: 100%;
        padding: 64px 24px;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        background: var(--neutral-white);
        border-radius: 8px;

        hr {
            border: 1px solid transparent;
            height: 2px;
            background-color: var(--neutral-light-gray);
        }

        .responsesHeader {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 32px;
            background-color: var(--primary-dark-navy);
            border-radius: 8px;
            padding: 32px 24px;

            h1 {
                height: 43px;
                font-family: var(--font-family-Light);
                font-weight: 300;
                font-style: Light;
                font-size: 36px;
                line-height: 120%;
                letter-spacing: 1.35%;
                vertical-align: middle;
                color: var(--neutral-white);
            }

            .subtitle {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 64px;

                .socialLinks {
                    width: auto;
                    display: flex;

                    justify-content: end;
                    margin-top: 0px;

                    li {
                        width: 48px !important;
                        height: 48px !important;

                        .socialLinksStyles {
                            width: 48px !important;
                            height: 48px !important;
                        }

                        i {
                            font-size: 20px;
                        }
                    }
                }

                p {
                    width: 100% !important;
                    font-family: var(--font-family-Light);
                    color: var(--neutral-white);
                    font-size: 14px;
                    line-height: 120%;
                    letter-spacing: 1.6%;
                    vertical-align: middle;
                }
            }
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-top: 16px;

        .swiper-slide {
            flex: 0 0 auto !important;
            width: 216px !important;
            height: 352px !important;
            box-sizing: border-box;
            padding: 0;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                border-radius: 8px;
                width: 100%;
                height: 352px !important;

                object-fit: cover;
            }
        }

        .slider__nav {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            gap: 32px !important;

            .btnPrev {
                min-width: 213px !important;
                height: 56px !important;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                font-weight: 700;
                font-style: Bold;
                font-size: 16px !important;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                transition: 0.3s ease;
                font-family: var(--font-family-RegularHead);

                .icon {
                    font-size: 24px !important;
                    left: 20px;
                }

                &:hover {
                    border-color: var(--primary-deep-blue);
                    background-color: var(--primary-deep-blue);
                }
            }

            .btnNext {
                width: 100% !important;
                height: 56px !important;
                background-color: var(--primary-deep-blue);
                color: var(--neutral-white);
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.3s ease;
                position: relative;
                font-style: Bold;
                font-size: 16px !important;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                font-family: var(--font-family-Medium);

                .icon {
                    font-size: 24px !important;
                }

                &:hover {
                    border-color: var(--secondary-light-blue);
                    background-color: var(--secondary-light-blue);
                }
            }
        }

        .slider_bottom_nav {
            width: 100%;
            display: flex;
            gap: 8px;
            justify-content: center;
            margin-top: 32px !important;

            .swiper-pagination-bullet {
                width: 194px !important;
                border-radius: 6px;
            }
            .swiper-pagination-bullet-active {
                background: var(--secondary-light-blue);
            }
            .slider__nav_item {
                width: 100%;
                height: 100%;
                border-radius: 999px;
                background-color: var(--neutral-medium-gray-second);

                &.active {
                    background-color: var(--secondary-light-blue);
                }
            }
        }
    }
    .btnNext p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 32px;
        top: 50%;
        transform: translate(0, -50%);
        transition: left 0.3s ease, transform 0.3s ease;
    }
    .btnNext .icon {
        position: absolute;
        right: 24px;
    }

    .btnPrev p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: right 0.3s ease, transform 0.3s ease;
    }

    .btnPrev .icon {
        position: absolute;
        left: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .responsesContainer {
        width: 100%;
        padding: 132px 24px !important;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        background: var(--neutral-white);
        border-radius: 8px;

        hr {
            border: 1px solid transparent;
            height: 2px;
            background-color: var(--neutral-light-gray);
        }

        .responsesHeader {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 32px;
            background-color: var(--primary-dark-navy);
            border-radius: 8px;
            padding: 64px 24px;

            h1 {
                height: 67px;
                font-family: var(--font-family-RegularHead);
                font-weight: 300;
                font-style: Light;
                font-size: 56px;
                line-height: 120%;
                letter-spacing: 1.35%;
                vertical-align: middle;
                color: var(--neutral-white);
            }

            .subtitle {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 64px;

                .socialLinks {
                    width: auto;
                    display: flex;

                    justify-content: end;
                    margin-top: 0px;

                    li {
                        width: 72px !important;
                        height: 72px !important;

                        .socialLinksStyles {
                            width: 48px !important;
                            height: 48px !important;
                        }

                        i {
                            font-size: 28px;
                        }
                    }
                }

                p {
                    width: 100% !important;
                    font-family: var(--font-family-Light);
                    color: var(--neutral-white);
                    font-size: 20px;
                    line-height: 120%;
                    width: 773px !important;
                    letter-spacing: 1.6%;
                    vertical-align: middle;
                }
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        margin-top: 16px;

        .swiper-slide {
            flex: 0 0 auto !important;
            width: 320px !important;
            height: 495px !important;
            box-sizing: border-box;
            padding: 0;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .slide {
                position: relative;

                &:hover .slide_hover_block {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;
                }

                .slide_hover_block {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    backdrop-filter: blur(10px);
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.3s ease;
                }

                .photo {
                    button {
                        width: fit-content !important;
                        height: 56px;
                        border-radius: 999px;
                        padding: 14px 20px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        gap: 8px;
                        transition: 0.3s ease;
                        i {
                            font-size: 20px;
                        }
                        span {
                            display: flex !important;
                        }
                        &:hover {
                            transition: 0.3s ease;
                            background: var(--secondary-light-blue);
                            cursor: pointer;
                        }
                    }
                }

                .video {
                    button {
                        width: 56px;
                        height: 56px;
                        border-radius: 999px;
                        padding: 14px 20px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        gap: 8px;
                        &:hover {
                            transition: 0.3s ease;
                            background: var(--secondary-light-blue);
                            cursor: pointer;
                        }
                        i {
                            font-size: 24px;
                        }
                    }
                }
            }
            img {
                border-radius: 8px;
                width: 320px !important;
                height: 495px !important;
                object-fit: cover;
            }
        }

        .slider__nav {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            gap: 32px !important;

            .btnPrev {
                min-width: 320px !important;
                height: 72px !important;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                font-weight: 700;
                font-style: Bold;
                font-size: 18px !important;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                transition: 0.3s ease;
                font-family: var(--font-family-RegularHead);

                .icon {
                    font-size: 20px;
                    left: 20px;
                }

                &:hover {
                    border-color: var(--primary-deep-blue);
                    background-color: var(--primary-deep-blue);
                }
            }

            .btnNext {
                width: 100% !important;
                height: 72px !important;
                background-color: var(--primary-deep-blue);
                color: var(--neutral-white);
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.3s ease;
                position: relative;
                font-style: Bold;
                font-size: 18px !important;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                font-family: var(--font-family-Medium);

                .icon {
                    font-size: 20px;
                }

                &:hover {
                    border-color: var(--secondary-light-blue);
                    background-color: var(--secondary-light-blue);
                }
            }
        }

        .slider_bottom_nav {
            width: 100%;
            display: flex;
            gap: 8px;
            justify-content: center;
            margin-top: 32px !important;

            .swiper-pagination-bullet {
                width: 194px !important;
                border-radius: 6px;
            }
            .swiper-pagination-bullet-active {
                background: var(--secondary-light-blue);
            }
            .slider__nav_item {
                width: 100%;
                height: 100%;
                border-radius: 999px;
                background-color: var(--neutral-medium-gray-second);

                &.active {
                    background-color: var(--secondary-light-blue);
                }
            }
        }
    }
    .btnNext p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 32px;
        top: 50%;
        transform: translate(0, -50%);
        transition: left 0.3s ease, transform 0.3s ease;
    }

    .btnNext .icon {
        position: absolute;
        right: 24px;
    }

    .btnPrev p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: right 0.3s ease, transform 0.3s ease;
    }

    .btnPrev .icon {
        position: absolute;
        left: 20px;
    }
}

@media screen and (min-width: 1920px) {
    .responsesContainer {
        width: 100%;
        padding: 132px 181px !important;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        background: var(--neutral-white);
        border-radius: 8px;

        hr {
            border: 1px solid transparent;
            height: 2px;
            background-color: var(--neutral-light-gray);
        }

        .responsesHeader {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 32px;
            background-color: var(--primary-dark-navy);
            border-radius: 8px;
            padding: 64px 24px;

            h1 {
                height: 67px;
                font-family: var(--font-family-RegularHead);
                font-weight: 300;
                font-size: 56px;
                line-height: 120%;
                letter-spacing: 1.35%;
                vertical-align: middle;
                color: var(--neutral-white);
            }

            .subtitle {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 64px;

                .socialLinks {
                    width: auto;
                    display: flex;

                    justify-content: end;
                    margin-top: 0px;

                    li {
                        width: 72px !important;
                        height: 72px !important;

                        .socialLinksStyles {
                            width: 48px !important;
                            height: 48px !important;
                        }

                        i {
                            font-size: 28px;
                        }
                    }
                }

                p {
                    width: 100% !important;
                    font-family: var(--font-family-Light);
                    color: var(--neutral-white);
                    font-size: 20px;
                    line-height: 120%;
                    width: 773px !important;
                    letter-spacing: 1.6%;
                    vertical-align: middle;
                }
            }
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        margin-top: 16px;

        .swiper-slide {
            flex: 0 0 auto;
            width: 361px !important;
            height: 524px !important;
            box-sizing: border-box;
            padding: 0;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .slide {
                position: relative;

                &:hover .slide_hover_block {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: auto;
                }

                .slide_hover_block {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    backdrop-filter: blur(10px);
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity 0.3s ease;
                }

                .photo {
                    button {
                        width: fit-content !important;
                        height: 56px;
                        border-radius: 999px;
                        padding: 14px 20px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        gap: 8px;
                        transition: 0.3s ease;
                        i {
                            font-size: 20px;
                        }
                        span {
                            display: flex !important;
                        }
                        &:hover {
                            transition: 0.3s ease;
                            background: var(--secondary-light-blue);
                            cursor: pointer;
                        }
                    }
                }

                .video {
                    button {
                        width: 72px !important;
                        height: 72px !important;
                        border-radius: 999px;
                        padding: 14px 20px;
                        border: none;
                        background: var(--primary-deep-blue);
                        color: var(--neutral-white);
                        font-family: var(--font-family-Bold);
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 120%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        gap: 8px;
                        &:hover {
                            transition: 0.3s ease;
                            background: var(--secondary-light-blue);
                            cursor: pointer;
                        }
                        i {
                            font-size: 28px !important;
                        }
                    }
                }
            }
            img {
                border-radius: 8px;
                width: 361px !important;
                height: 524px !important;
                object-fit: cover;
            }
        }

        .slider__nav {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;
            gap: 16px;

            .btnPrev {
                min-width: 125px;
                height: 48px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                position: relative;
                font-weight: 700;
                font-style: Bold;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                transition: 0.3s ease;
                font-family: var(--font-family-RegularHead);

                .icon {
                    font-size: 20px;
                    left: 20px;
                }

                &:hover {
                    border-color: var(--primary-deep-blue);
                    background-color: var(--primary-deep-blue);
                }
            }

            .btnNext {
                width: 100% !important;
                height: 48px;
                background-color: var(--primary-deep-blue);
                color: var(--neutral-white);
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.3s ease;
                position: relative;
                font-style: Bold;
                font-size: 14px;
                line-height: 120%;
                letter-spacing: 0%;
                vertical-align: middle;
                font-family: var(--font-family-Medium);

                .icon {
                    font-size: 20px;
                }

                &:hover {
                    border-color: var(--secondary-light-blue);
                    background-color: var(--secondary-light-blue);
                }
            }
        }

        .slider_bottom_nav {
            width: 100%;

            display: flex;
            gap: 8px;
            margin-top: 24px;
            .swiper-pagination-bullet {
                width: 100%;
                border-radius: 6px;
                margin: 0 !important;
            }
            .swiper-pagination-bullet-active {
                background: var(--secondary-light-blue);
            }
            .slider__nav_item {
                width: 100%;
                height: 100%;
                border-radius: 999px;
                background-color: var(--neutral-medium-gray-second);

                &.active {
                    background-color: var(--secondary-light-blue);
                }
            }
        }
    }
    .btnNext p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 32px;
        top: 50%;
        transform: translate(0, -50%);
        transition: left 0.3s ease, transform 0.3s ease;
    }

    .btnNext .icon {
        position: absolute;
        right: 24px;
    }

    .btnPrev p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: right 0.3s ease, transform 0.3s ease;
    }
}
